S3method(vis_gauge,default)
export(gs_clients)
export(gs_content)
export(gs_engines)
export(gs_gauge_create)
export(gs_gauge_delete)
export(gs_gauge_detail)
export(gs_gauge_update)
export(gs_list_gauges)
export(gs_locations)
export(gs_me)
export(gs_ref)
export(gs_reso)
export(gs_shares)
export(gs_tech)
export(gs_terms)
export(gs_traffic)
export(is.gauge)
export(parse_gauge_detail)
export(vis_gauge)
import(ggplot2)
import(grid)
import(gridExtra)
import(httr)
import(reshape2)
